 '{{RESPONSE_CODE}}': {
  description: '{{RESPONSE_DESCRIPTION}}',
  content: {
    'application/json': {
      schema: {
        $ref: '#/components/schemas/{{RESPONSE_SCHEMA}}',
      },
    },
  },
},