{{HTTP_METHOD}}: {
  security: [{{SECURITY_SCHEME}}],
  tags: [{{TAGS}}],
  summary: '{{SUMMARY}}',
  description: '{{DESCRIPTION}}',
  operationId: '{{NAME}}',
  parameters: [{{PARAMETERS}}],
  requestBody: {
    {{REQUEST_BODY}}
  },
  responses: {
    {{RESPONSES}}
  },
},
